@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

/* Global styles */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.15px;

  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  position: relative;

  display: inline-block;
  padding: 0 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.2px;

  background: none;
  border: none;
  cursor: pointer;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  z-index: -1;

  width: inherit;
  height: 8px;
  margin-top: -5px;

  background-color: #f0c52e;

  transition: all 0.3s linear;
}

.btn:hover::before,
.btn:focus::before {
  top: -8px;

  height: 40px;
  margin: 0;

  transition: all 0.3s linear;
}

.btn:active::before {
  top: -8px;

  height: 40px;
  margin: 0;

  color: rgba(0, 0, 0, 0.3);

  transition: all 0.3s linear;
}

/* End of global styles */

/* Header styles */

.page-header {
  position: relative;

  background-color: #f7e296;
}

.page-header-logo {
  position: absolute;
  top: -23px;
  left: 57px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #000;
}

.page-header-logo:hover,
.page-header-logo:focus {
  opacity: 0.6;
}

.page-header-logo:active {
  opacity: 0.3;
}

.main-nav {
  padding: 34px 60px 160px;
}

.main-nav .user-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 0;
  padding: 0;
  padding-bottom: 20px;

  list-style: none;
}

.main-nav .user-nav-item {
  padding: 15px 0 15px 27px;
}













.slider-item-content .btn {
  width: 220px;
}

/* End of header styles */

