@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

/* Global styles */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  overflow-x: hidden;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.15px;

  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  position: relative;

  display: inline-block;
  padding: 10px 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background: none;
  border: none;
  cursor: pointer;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  z-index: -1;

  width: inherit;
  height: 8px;
  margin-top: -5px;

  background-color: #f0c52e;

  -webkit-transition: all 0.2s linear;

  -o-transition: all 0.2s linear;

  transition: all 0.2s linear;
}

.btn:hover::before,
.btn:focus::before {
  top: 0px;

  height: 40px;
  margin: 0;

  -webkit-transition: all 0.2s linear;

  -o-transition: all 0.2s linear;

  transition: all 0.2s linear;
}

.btn:active::before {
  top: 0px;

  height: 40px;
  margin: 0;

  color: rgba(0, 0, 0, 0.3);

  -webkit-transition: all 0.2s linear;

  -o-transition: all 0.2s linear;

  transition: all 0.2s linear;
}

/* End of global styles */

/* Header styles */

.page-header {
  position: relative;

  background-color: #f7e296;
}

.page-header-logo {
  position: absolute;
  top: -23px;
  left: 57px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #000;
}

.page-header-logo:hover,
.page-header-logo:focus {
  opacity: 0.6;
}

.page-header-logo:active {
  opacity: 0.3;
}

.main-nav {
  padding: 28px 60px 160px;
}

.main-nav .user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  list-style: none;
}

.main-nav .user-nav-item {
  padding: 15px 0 15px 26px;
}

.user-nav-search {
  width: 514px;
}

.user-nav-login {
  width: 254px;
}

.user-nav-compare {
  width: 94px;
}

.user-nav-cart {
  width: 74px;

  text-align: right;
}

.user-nav-search-form {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 440px;
}

.user-nav-search-form label {
  position: absolute;
  top: 8px;
  left: -24px;

  width: 20px;
  height: 20px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.user-nav-search-form label::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;

  display: none;
  width: 400px;
  height: 2px;

  background-color: #000;
}

.user-nav-search-form input {
  position: relative;

  width: 320px;
  height: 30px;
  margin: 0;
  padding: 0;
  margin-left: 12px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


.user-nav-search-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav-search-form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav-search-form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav-search-form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav-search-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav-search-form input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav-search-form input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav-search-form input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav-search-form input:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav-search-form input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav-search-form input:focus::-webkit-input-placeholder {
  font-size: 0;
}

.user-nav-search-form input:focus::-moz-placeholder {
  font-size: 0;
}

.user-nav-search-form input:focus:-ms-input-placeholder {
  font-size: 0;
}

.user-nav-search-form input:focus::-ms-input-placeholder {
  font-size: 0;
}

.user-nav-search-form input:focus::placeholder {
  font-size: 0;
}

.search-form-btn {
  position: absolute;
  top: -9px;
  left: 330px;

  width: 85px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  display: none;

  background: none;
  background-color: transparent;
  border: 2px solid #000;
}

.user-nav-search-form input:focus ~ .search-form-btn,
.user-nav-search-form input:focus ~ label::before,
.search-form-btn:hover,
.search-form-btn:hover ~ label::before {
  display: block;
}

.search-form-btn:hover {
  background-color: #000;
  color: #fff;
}

.search-form-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-nav-item a {
  position: relative;

  color: #000;
}

.user-nav-item a:hover {
  opacity: 0.6;
}

.user-nav-item:hover::before {
  opacity: 0.6;
}

.user-nav-item a:active {
  opacity: 0.3;
}


.user-nav-item:active::before {
  opacity: 0.3;
}

.user-nav-item a::before {
  content: "";
  position: absolute;

  width: 13px;
  height: 12px;

  background-repeat: no-repeat;
}

.user-nav-login a::before,
.user-nav-logged a:first-child::before {
  bottom: 4px;
  left: -26px;

  background-image: url("../img/user-nav-login.svg");
}


.user-nav-logged {
  width: 280px;
  padding-left: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.user-nav-logged a:last-child {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav-logged a:first-child {
  margin-right: 15px;
}

.user-nav-compare a::before {
  bottom: 2px;
  left: -20px;

  background-image: url("../img/user-nav-compare.svg");
}

.user-nav-cart a::before {
  bottom: 4px;
  left: -23px;

  background-image: url("../img/user-nav-cart.svg");
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-nav-item-catalog {
  position: relative;
  width: 540px;
}

.site-nav-item-delivery {
  width: 160px;
}

.site-nav-item-warranty {
  width: 220px;
}

.site-nav-item-contacts {
  width: 120px;

  text-align: right;
}


.site-nav > li > a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.site-nav li a:hover {
  opacity: 0.6;
}

.site-nav li a:active {
  opacity: 0.3;
}

.site-nav-catalog-link {
  position: relative;
}

.site-nav-catalog-link::before {
  content: "";
  position: absolute;
  right: -27px;
  bottom: 10px;

  width: 16px;
  height: 2px;

  background-color: #b8a974;
}

.site-nav-catalog-link::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 3px;

  width: 2px;
  height: 16px;

  background-color: #b8a974;
}

.sub-menu-wrapper {
  position: absolute;
  top: 22px;
  left: -60px;
  z-index: 2;

  display: none;
  width: 1100px;
  padding: 26px 0 34px 60px;

  background-color: #f7e296;
}

.site-nav-catalog-link:hover + .sub-menu-wrapper,
.sub-menu-wrapper:hover {
  display: block;
}

.site-nav-sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 640px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: 0.01em;
}

.sub-menu-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 180px;
  padding-right: 20px;
}

.sub-menu-col:first-child {
  width: 220px;
}


.slider {
  position: relative;
  z-index: 1;
}

.slider-item-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -110px;
  padding-bottom: 96px;
}

.slider-item {
  display: none;
}

.slider-item-2 {
  padding-bottom: 85px;
}

.slider-item-3 {
  padding-bottom: 113px;
}

.slider-img-wrap {
  width: 560px;
  margin-right: 40px;

  text-align: center;
}

.slider-item-1-img img {
  width: 384px;
  height: 486px;
}

.slider-item-2-img img {
  width: 345px;
  height: 485px;
  margin-top: 12px;
  margin-left: 16px;
}

.slider-item-3-img img {
  width: 526px;
  height: 334px;
  margin-top: 65px;
  margin-left: 30px;
}

.slider-descr-wrap {
  position: relative;
  width: 560px;
  padding-top: 78px;
}

.slider-descr-wrap::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 0;
  width: 100px;
  height: 7px;

  background-color: #fff;
}

.slider-descr-wrap::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 50px;
  z-index: -1;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #fff;
}

.slider-descr-item-1::after {
  content: "01";
}

.slider-descr-item-2::after {
  content: "02";
}

.slider-descr-item-3::after {
  content: "03";
}

.slider-descr-wrap b {
  display: block;
  margin-bottom: 20px;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.01em;
  color: #000;
}

.slider-descr-wrap p {
  margin: 0;
  padding: 0;
  width: 490px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: 0.01em;
  color: #464646;
}

.slider-descr-item-2 p,
.slider-descr-item-3 p {
  width: 460px;
}

.slider-descr-wrap .btn {
  width: 220px;
  margin-top: 42px;
  margin-bottom: 46px;
  margin-left: 2px;

  background: none;
  border: none;
}

.slider-controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: 82px;
  bottom: 253px;
  z-index: 1;
  width: 78px;
}

.slider-controls label {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 12px;
  height: 12px;

  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 6px;
  height: 6px;

  border: 1px solid #000;
  border-radius: 50%;
}

.slider input:focus ~ .slider-controls label {
  outline: 1px solid #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

#btn-1:checked ~ .slider-item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#btn-2:checked ~ .slider-item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#btn-3:checked ~ .slider-item-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider input[id="btn-1"]:checked ~ .slider-controls label[for="btn-1"]::before,
.slider input[id="btn-2"]:checked ~ .slider-controls label[for="btn-2"]::before,
.slider input[id="btn-3"]:checked ~ .slider-controls label[for="btn-3"]::before {
  display: block;
}

.slider-item-features {
  border-collapse: collapse;
}

.slider-item-features-top {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
}

.slider-item-features-bottom {
    font-size: 13px;
    line-height: 20px;
}

.slider-item-features td:nth-child(1),
.slider-item-features td:nth-child(3) {
  width: 160px;
}

.slider-item-features td:nth-child(2) {
  width: 140px;
}

.slider-item-features td {
  padding: 0;
}

.slider-item-features-bottom .slider-table-bot-cell {
  padding-top: 8px;
}

/* End of header styles */


/* Main categories styles */

.main-categories {
  margin-bottom: 182px;
}

.main-categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories-list-wrap  {
  width: 160px;
  height: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: rgba(240, 197, 46, 0.5);
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.categories-name {
  width: 160px;
  margin: 0;
  padding-top: 33px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
}

.categories-list-wrap-vr {
  padding: 52px 32px 53px 31px;
}

.categories-list-wrap-vr img {
  width: 97px;
  height: 55px;
}

.categories-list-wrap-selfie {
  padding: 41px 36px 2px 38px;
}

.categories-list-wrap-selfie img {
  width: 86px;
  height: 117px;
}

.categories-list-wrap-selfie + p {
  width: 100px;
}

.categories-list-wrap-camera {
  padding: 38px 40px 35px 49px;
}

.categories-list-wrap-camera img {
  width: 71px;
  height: 87px;
}

.categories-list-wrap-fitness {
  padding: 50px 25px 45px 28px;
}

.categories-list-wrap-fitness img {
  width: 107px;
  height: 65px;
}

.categories-list-wrap-watch {
  padding: 32px 49px 30px 55px;
}

.categories-list-wrap-watch img {
  width: 56px;
  height: 98px;
}

.categories-list-wrap-copter {
  padding: 49px 15px 42px 13px;
}

.categories-list-wrap-copter img {
  width: 132px;
  height: 69px;
}

.categories-list-item a:hover .categories-list-wrap,
.categories-list-item a:focus .categories-list-wrap {
  background-color: rgba(240, 197, 46, 1);

  -webkit-transition: all 0.2s linear;

  -o-transition: all 0.2s linear;

  transition: all 0.2s linear;
}

.categories-list-item a:active img,
.categories-list-item a:active .categories-name {
  opacity: 0.3;
}

/* End of Main categories styles */



/* Services styles */

.services {
  position: relative;
  margin-bottom: 94px;

  background-color: #e5e5e5;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-slider-item {
  position: relative;
  display: none;
  min-height: 288px;
  top: -26px;
  width: 460px;
  margin-left: 120px;
}

.services-slider-credit {
  width: 430px;
}

.services-slider-delivery::before {
  content: "";
  position: absolute;
  top: 10px;
  right: -234px;
  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.services-slider-warranty::before {
  content: "";
  position: absolute;
  top: -13px;
  right: -253px;
  width: 171px;
  height: 195px;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.services-slider-credit::before {
  content: "";
  position: absolute;
  top: -13px;
  right: -258px;
  width: 156px;
  height: 188px;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.services-slider-item h3 {
  margin: 0;
  padding-bottom: 31px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.02em;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
}

.services-slider-item p {
  margin: 0;
}

.services-slider-controls {
  position: relative;
  top: -20px;
  padding-right: 120px;
}

.services-slider-controls::before {
  content: "";
  position: absolute;
  top: -80px;
  right: -4px;

  width: 7px;
  height: 319px;

  background-color: #000;
}

.services-slider-controls label {
  position: relative;
  z-index: 1;
  display: block;
  width: 160px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  cursor: pointer;
}

.services-slider-controls label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 160px;
  height: 8px;
  margin-top: -4px;

  background-color: #f0c52e;

  -webkit-transition: all 0.2s linear;

  -o-transition: all 0.2s linear;

  transition: all 0.2s linear;
}

.services-slider-controls label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;

  width: 0;
  height: 40px;

  background-color: #000;
}

.services-slider-controls label:hover::before {
  top: 0;
  height: 40px;
  margin: 0;

  -webkit-transition: all 0.2s linear;

  -o-transition: all 0.2s linear;

  transition: all 0.2s linear;
}

.services-slider input:focus ~ .services-slider-controls label {
  outline: 1px solid #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.services-slider input[id="services-control-1"]:checked ~ .services-slider-controls label[for="services-control-1"],
.services-slider input[id="services-control-2"]:checked ~ .services-slider-controls label[for="services-control-2"],
.services-slider input[id="services-control-3"]:checked ~ .services-slider-controls label[for="services-control-3"] {
  color: #f7e184;
}

.services-slider input[id="services-control-1"]:checked ~ .services-slider-controls label[for="services-control-1"]::before,
.services-slider input[id="services-control-2"]:checked ~ .services-slider-controls label[for="services-control-2"]::before,
.services-slider input[id="services-control-3"]:checked ~ .services-slider-controls label[for="services-control-3"]::before {
  top: 1px;
  height: 40px;
  margin: 0;

  background-color: #000;
}

.services-slider input[id="services-control-1"]:checked ~ .services-slider-controls label[for="services-control-1"]::after,
.services-slider input[id="services-control-2"]:checked ~ .services-slider-controls label[for="services-control-2"]::after,
.services-slider input[id="services-control-3"]:checked ~ .services-slider-controls label[for="services-control-3"]::after {
  top: 1px;
  width: 120px;
  height: 40px;
  margin: 0;

  background-color: #000;

  -webkit-transition: all 0.2s linear;

  -o-transition: all 0.2s linear;

  transition: all 0.2s linear;
}

.services-slider input[id="services-control-1"]:checked ~ .services-slider-delivery,
.services-slider input[id="services-control-2"]:checked ~ .services-slider-warranty,
.services-slider input[id="services-control-3"]:checked ~ .services-slider-credit {
  display: block;
}


/* End of Services styles */



/* Brands styles */

.brands {
  margin-bottom: 93px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  height: 100px;
}

.brands-item a {
  width: 260px;
  height: 100px;

  opacity: 0.2;

  -webkit-transition: all 0.2s linear;

  -o-transition: all 0.2s linear;

  transition: all 0.2s linear;
}

.brands-item a:hover,
.brands-item a:focus {
  opacity: 1;

  -webkit-transition: all 0.2s linear;

  -o-transition: all 0.2s linear;

  transition: all 0.2s linear;
}

.brands-item-dji {
  background-image: url("../img/logo-1-gray.jpg");
}

.brands-item-dji:hover,
.brands-item-dji:focus {
  background-image: url("../img/logo-1.jpg");
}

.brands-item-spgadgets {
  background-image: url("../img/logo-2-gray.jpg");
}

.brands-item-spgadgets:hover,
.brands-item-spgadgets:focus {
  background-image: url("../img/logo-2.jpg");
}

.brands-item-gopro {
  background-image: url("../img/logo-3-gray.jpg");
}

.brands-item-gopro:hover,
.brands-item-gopro:focus {
  background-image: url("../img/logo-3.jpg");
}

.brands-item-vive {
  background-image: url("../img/logo-4-gray.jpg");
}

.brands-item-vive:hover,
.brands-item-vive:focus {
  background-image: url("../img/logo-4.jpg");
}

/* End of Brands styles */



/* About styles */

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 51px;
  margin-bottom: 79px;
}

.about {
  position: relative;
  width: 560px;
}

.about::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000;
}

.about .btn,
.contacts .btn {
  width: 260px;

  background: none;
  border: none;
}

.about-info h3,
.contacts h3 {
  margin: 0;
  padding-bottom: 43px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
}

.about-description {
  padding-bottom: 36px;
}

.about-description p:first-child {
  width: 460px;
  margin: 0;
  padding-bottom: 30px;
}

.about-description p:last-child {
  width: 485px;
  margin: 0;
  padding-bottom: 30px;
}

.about-info-delivery {
  margin: 0;
  padding: 0;
  padding-bottom: 52px;
  padding-left: 36px;

  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
}

.about-info-delivery li {
  position: relative;
}

.about-info-delivery li::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -34px;

  width: 4px;
  height: 4px;

  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.contacts {
  position: relative;
  width: 560px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000;
}

.contacts p {
  margin: 0;
  padding-bottom: 39px;
}

.map img {
  width: 560px;
  height: 222px;

  margin-bottom: 59px;
}
/* End of About styles */


/* Footer styles */

.page-footer {
  padding-top: 63px;
  padding-bottom: 57px;

  color: #fff;
  background-color: #464646;
}

.footer-user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  min-height: 47px;
}

.footer-logo {
  padding-top: 8px;

  font-weight: 800;
  font-size: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffc600;
}

.footer-logo a:hover {
  opacity: 0.6;

  -webkit-transition: all 0.2s linear;

  -o-transition: all 0.2s linear;

  transition: all 0.2s linear;
}

.footer-logo a:active,
.footer-logo a:focus {
  opacity: 0.3;
}

.footer-user-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-user-nav-item {
  text-align: right;
  width: 100px;
}

.footer-user-nav-logged {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 33px;
}

.footer-user-nav-logged a:first-child {
  margin-right: 15px;
}

.footer-user-nav-logged a:last-child {
  color: rgba(255,255,255,.3);
}

.footer-user-nav-item:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 33px;
}

.footer-user-nav-item:nth-child(2) {
  margin-right: 22px;
}

.footer-user-nav-link {
  position: relative;

  text-align: right;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-nav-link:hover,
.footer-user-nav-logged a:last-child:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-nav-link:active,
.footer-user-nav-link:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-nav-link:hover::before {
  opacity: 0.6;
}

.footer-user-nav-link:active::before,
.footer-user-nav-link:focus::before {
  opacity: 0.3;
}

.footer-user-nav-link::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: -23px;

  width: 13px;
  height: 12px;
  
  background-repeat: no-repeat;
}

.footer-user-login::before {
  left: -26px;

  background-image: url("../img/yellow-user.png");
}

.footer-user-nav-logged a:first-child::before {
  left: -26px;

  background-image: url("../img/yellow-user.png");
}

.footer-user-compare::before {
  left: -20px;
  bottom: 2px;

  background-image: url("../img/yellow-compare.png");
}

.footer-user-cart::before {
  background-image: url("../img/yellow-cart.png");
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 62px;
}

.footer-services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 6px;

  list-style: none;
}

.footer-services-item {
  margin: 0 auto;
  margin-right: 33px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-services-item a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-services-item a:active,
.footer-services-item a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer-links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-links::before {
  content: "";
  position: absolute;
  bottom: 22px;
  left: 1px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 108px;
  margin: 0 auto;
  padding-top: 2px;
  padding-right: 45px;

  list-style: none;
}

.footer-socials a {
  position: relative;
  width: 32px;
  height: 32px;

  opacity: 0.3;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-socials-item a::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
}

.footer-socials-fb::before {
  background-image: url("../img/fb.svg");
}

.footer-socials-inst::before {
  background-image: url("../img/vk.svg");
}

.footer-socials-tw::before {
  background-image: url("../img/twitter.svg");
}

.footer-socials-item a:hover,
.footer-socials-item a:focus {
  opacity: 0.6;

  -webkit-transition: all 0.1s linear;

  -o-transition: all 0.1s linear;

  transition: all 0.1s linear;
}

.footer-socials-item a:active {
  opacity: 0.1;
}

.footer-copyright img {
  width: 27px;
  height: 35px;
}

.footer-copyright img:hover,
.footer-copyright img:focus {
  opacity: 0.6;

  -webkit-transition: all 0.1s linear;

  -o-transition: all 0.1s linear;

  transition: all 0.1s linear;
}

.footer-copyright img:active {
  opacity: 0.3;
}

/* End of Footer styles */



/* Popup styles */

  /* Write us */

.popup-write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -275px;
  margin-left: -480px;
  z-index: 2;

  display: none;
  width: 960px;

  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.popup-write-us--show {
  display: block;
}

.popup-write-us-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 93px;
  padding-right: 100px;
  padding-bottom: 76px;
  padding-left: 100px;
}

.feedback-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 34px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-write-us label {
  width: 360px;
  padding-bottom: 6px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;

  cursor: pointer;
}

.popup-write-us input {
  width: 360px;
  height: 50px;
  padding-top: 16px;
  padding-right: 19px;
  padding-bottom: 16px;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;

  background-color: rgba(230, 230, 230, 0.5);
  border: none;
  outline: none;
}

.popup-write-us input:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.popup-write-us input:focus {
  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46, 0.5);
}

.popup-write-us input:invalid {
  background-color: rgba(237, 181, 181, 1.0);
}

.popup-write-us input::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.popup-write-us input::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.popup-write-us input:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.popup-write-us input::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.popup-write-us input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.popup-write-us textarea {
  width: 760px;
  min-height: 156px;
  padding: 14px 19px;
  margin-bottom: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  color: #464646;

  background-color: rgba(230, 230, 230, 0.5);
  border: none;
  outline: none;

  resize: none;
}

.popup-write-us textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.popup-write-us textarea:focus {
  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46, 0.5);
}

.popup-write-us textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}

.popup-write-us textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}

.popup-write-us textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}

.popup-write-us textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}

.popup-write-us textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}

.popup-write-us .btn {
  width: 200px;

  background: none;
  border: none;
}

.popup-write-us-close,
.popup-map-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  background-color: #f0c52e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.popup-write-us-close::before,
.popup-map-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 30px;

  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.popup-write-us-close::after,
.popup-map-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 30px;

  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
      -ms-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.popup-write-us-close:hover,
.popup-map-close:hover,
.popup-write-us-close:focus,
.popup-map-close:focus {
  opacity: 1;

  -webkit-transition: all 0.1s linear;

  -o-transition: all 0.1s linear;

  transition: all 0.1s linear;
}

.popup-write-us-close:active,
.popup-map-close:active {
  opacity: 0.3;
}

  /* End of Write us */


  /* Map */

.popup-map {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -480px;
  z-index: 2;

  display: none;
  width: 960px;
  height: 560px;

  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.popup-map--show {
  display: block;
}

.popup-map iframe {
  width: 960px;
  height: 560px;

  border: none;
}

  /* End of Map */

/* End of Popup */


/* Catalog */

.catalog .main-nav {
  padding-bottom: 47px;
}

.page-content-header {
  padding-top: 37px;
  padding-bottom: 44px;
  padding-left: 60px;
}

.page-content-title {
  margin: 0;
  padding-bottom: 20px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 37px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 19px;
  width: 5px;
  height: 5px;

  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.breadcrumbs-item:nth-child(2)::after {
  right: 16px;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-item a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
}

.breadcrumbs-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item:last-child a:hover {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a:active,
.breadcrumbs-item a:focus {
  color: rgba(0, 0, 0, 0.1);
}

.page-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 328px;

  background-color: #efefef;
}

.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  z-index: -2;

  background-color: #efefef;
}

.aside-wrap {
  background-color: #efefef;
}

.sidebar h2 {
  position: relative;

  width: 328px;
  margin: 0;
  padding-top: 23px;
  padding-right: 68px;
  padding-bottom: 23px;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: rgba(0,0,0,0.08);
}

.sidebar h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 328px;
  width: 100vw;
  height: 70px;

  background-color: rgba(0,0,0,0.08);
}

.catalog-section {
  width: 832px;
}

.filter {
  width: 202px;
  padding-top: 69px;
  padding-right: 68px;
}

.filter-item-wrap {
  position: relative;
}

.filter-item-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;

  width: 201px;
  height: 2px;

  background-color: #000000;
}

.filter-item {
  width: 202px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-item legend {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 18px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.filter-item-price legend {
  padding-bottom: 35px;
}

.price-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 32px;
}

.price-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5px;
}

.scale-bar {
  height: 2px;

  background-color: #dbdbdb;
}

.scale-bar-current {
  width: 60%;
  height: 2px;

  background-color: #91c92f;
}

.price-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px #dadada;
          box-shadow: 0 2px 1px #dadada;
  cursor: pointer;
}

.price-toggle:active {
  width: 22px;
  height: 22px;

  border: 9px solid #ffffff;
}

.toggle-min {
  top: -10px;
  left: -4px;
}

.toggle-max {
  top: -10px;
  left: 109px;
}

.price-inputs label {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0;
}

.price-inputs label:first-child {
  margin-right: 18px;
}

.price-inputs input {
  width: 50px;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0;

  background: none;
  border: 0;
}

.filter-checkbox-list {
  margin: 0;
  padding: 0;
  padding-bottom: 31px;

  list-style-type: none;
}

.filter-checkbox-list li {
  padding-left: 39px;
}

.checkbox-label {
  position: relative;

  font-size: 14px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0.01em;

  cursor: pointer;
}

.checkbox-input:disabled + .checkbox-label,
.checkbox-input:checked:disabled + .checkbox-label {
  color: #a6a6a6;
}

.checkbox-input:disabled + .checkbox-label::before,
.checkbox-input:checked:disabled + .checkbox-label::before,
.checkbox-input:checked:disabled + .checkbox-label::after {
  opacity: 0.25;
}

.checkbox-input:focus + .checkbox-label {
  outline: 1px solid #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.radio-input:focus + .radio-label {
  outline: 1px solid #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -40px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.checkbox-label::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -40px;
  width: 27px;
  height: 23px;
  display: none;

  background-image: url("../img/checkbox-on.svg");
}

.checkbox-input:checked + .checkbox-label::before {
  display: none;
}

.checkbox-input:checked + .checkbox-label::after {
  display: block;
}

.checkbox-label:hover::before,
.checkbox-label:hover::after {
  opacity: 0.6;
}

.filter-radio-list {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  list-style-type: none;
}

.filter-radio-list li {
  padding-left: 39px;
}

.radio-label {
  position: relative;

  font-size: 14px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.radio-label::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25px;
  height: 25px;

  border: 4px solid #000000;
  border-radius: 50%;
}

.radio-label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -32px;
  display: none;
  width: 9px;
  height: 9px;

  background-color: #000000;
  border-radius: 50%;
}

.radio-input:checked + .radio-label::after {
  display: block;
}

.radio-input:disabled + .radio-label,
.radio-input:checked:disabled + .radio-label {
  color: #a6a6a6;
}

.radio-input:disabled + .radio-label::before,
.radio-input:checked:disabled + .radio-label::before {
  opacity: 0.25;
}

.radio-label:hover::before,
.radio-label:hover::after {
  opacity: 0.6;
}

.filter .btn {
  width: 200px;
  z-index: 0;
}

.catalog-sorting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 832px;
  padding: 18px 0 18px 72px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-sorting::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100vw;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.08);
}

.catalog-sorting h3 {
  margin: 0;
  margin-right: 55px;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-sorting-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 501px;
  margin: 0;
  padding: 0;
  padding-right: 18px;
  padding-bottom: 4px;

  list-style-type: none;
}

.catalog-sorting-type li {
  margin-right: 28px;
}

.catalog-sorting-type a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sorting-type a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sorting-type a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-sorting-type li:first-child a {
  color: rgba(0, 0, 0, 1);
}

.catalog-sorting-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog-sorting-direction a {
  display: block;

  border-right: 5.5px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.2);
  border-left: 5.5px solid transparent;

  line-height: 0;
}

.sorting-direction-current a {
  border-bottom-color: #000;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.catalog-sorting-direction a:hover,
.catalog-sorting-direction a:focus {
  border-bottom-color: #a6a6a6;
}

.catalog-sorting-direction a:active {
  border-bottom-color: #000;
}

.catalog-items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 852px;
  margin: 0;
  padding-top: 69px;
  padding-left: 72px;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 45px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
}

.catalog-item-info h2 {
  width: 260px;
  margin: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.catalog-item:nth-child(2) h2 {
  width: 180px;
}

.catalog-item-price {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.01em;
}

.catalog-item-hover {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 360px;
  height: 380px;
  padding-top: 169px;
  padding-right: 90px;
  padding-left: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-align: center;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item:hover .catalog-item-hover {
  display: block;
}

.catalog-item-hover .btn {
  width: 200px;
  margin-bottom: 6px;
  margin-left: -11px;
  z-index: 0;
}

.catalog-item-compare {
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.01em;

  opacity: 0.5;
}

.catalog-item-compare:hover {
  opacity: 1;
}

.catalog-item-compare:active,
.catalog-item-compare:focus {
  opacity: 0.2;
}

.catalog-item-new {
  position: absolute;
  top: 29px;
  right: 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
  height: 60px;

  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 760px;
  margin: 0;
  margin-top: -11px;
  margin-bottom: 77px;
  margin-left: 71px;
  padding: 0;

  list-style-type: none;

  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-prev {
  display: block;
  width: 134px;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 22px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination-next {
  display: block;
  width: 134px;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 22px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-align: right;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.pagination-list-item {
  width: 40px;

  text-align: center;
}

.pagination-control a {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  cursor: pointer;
}

.pagination-control a:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-control a:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-control a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list-item a {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.2em;

  opacity: 0.3;
}

.pagination-list-item a:hover {
  opacity: 0.6;
}

.pagination-list-item a:active {
  opacity: 1;
}

.pagination-item-active a {
  opacity: 1;
}

.pagination-item-active:hover {
  opacity: 1;
}

/* End of Catalog */